{% extends "layout.html" %}

{% block content %}

<section id="intro">
    <header>
     <a href="/"><img src="/./logo.png" alt="Imagem da Logomarca"></a>
    </header>
    
    <main>
         <p>
             Ficar em casa em períodos longos, não deve ser fácil.
         </p>
         
         <p>
             Por isso, iremos catalogar <b>ideias, brincadeiras, jogos, filmes, livros, cursos, dicas </b>e tudo que for necessário para tornar esse momento mais interessante.
         </p>
         
         <p>
             Comece clicando em ver ideias para ver as  ideias cadastradas e contribua adicioando a sua ideia.
         </p>
     
        


    </main>

    <section id="buttons">
         <button onclick= "onOff()"> + Adicionar Ideia </button>
         <a href="/ideias" class="button"> Ver Ideias </a>
    </section>
     
    <footer>
        <p>Com 💓 <a href="https://rocketseat.com.br/" target="_blank">Rocketseat</a></p>
    </footer>
     

 </section>
 
 <section id="last-ideias">
     
     {% include "all_ideas.html" %}

 </section>

{% endblock %}
